<header>
  <div class="">
    <div class="row no_row row-header col-12">
      <div class="brand-be">
        <a href="index-2.html">
          WorkIn
<!--          <img class=" be_logo logo-c active"  src="../../assets/img/logo.png" alt="logo" >-->
        </a>
      </div>
      <div class="col-9" >
        <button *ngIf="authService.isAuthenticated === true" class="cmn-toggle-switch cmn-toggle-switch__htx"><span></span></button>
        <ul  class="header-menu" id="one">
          <li *ngIf="authService.isAuthenticated === true"><a routerLink="/feeds">Activités</a></li>
          <li *ngIf="authService.isAuthenticated === true"><a routerLink="/prediction">Prédiction</a></li>
          <li *ngIf="authService.isAuthenticated === true"><a >Découvrir</a></li>
          <li ><a >Publicités</a></li>
          <li *ngIf="authService.isAuthenticated === true" class="ml-3" id="ad-work-li"><a id="add-work-btn" class="btn color-1" (click)="deconnection()">Deconnexion</a></li>
          <li *ngIf="authService.isAuthenticated === true"  id="ad-work-li"><a id="add-work-btn" class="btn color-1" routerLink="propositions/nouvelle">Nouvelle offre</a></li>
        </ul>
      </div><div class="login-header-block">
      <div class="login_block " *ngIf="authService.isAuthenticated">
        <a class="notofications-popup" href="page1.html">
          <i class="fa fa-bell-o"></i>
          <span class="noto-count">23</span>
        </a>
        <div class="noto-popup notofications-block">
          <div class="m-close"><i class="fa fa-times"></i></div>
          <div class="noto-label">Your Notification</div>
          <div class="noto-body" style="max-height: 509px;">
            <div class="noto-entry">
              <div class="noto-content clearfix">
                <div class="noto-img">
                  <a href="page1.html">
                    <img src="../../assets/img/c1.png" alt="" class="be-ava-comment">
                  </a>
                </div>
                <div class="noto-text">
                  <div class="noto-text-top">
                    <span class="noto-name"><a href="page1.html">Ravi Sah</a></span>
                    <span class="noto-date"><i class="fa fa-clock-o"></i> May 27, 2015</span>
                  </div>
                  <a href="page1.html" class="noto-message">Start following your work</a>
                </div>
              </div>
            </div>
            <div class="noto-entry">
              <div class="noto-content clearfix">
                <div class="noto-img">
                  <a href="page1.html">
                    <img src="../../assets/img/c6.jpg" alt="" class="be-ava-comment">
                  </a>
                </div>
                <div class="noto-text">
                  <div class="noto-text-top">
                    <span class="noto-name"><a href="page1.html">Louis Paquet</a></span>
                    <span class="noto-date"><i class="fa fa-clock-o"></i> May 27, 2015</span>
                  </div>
                  <div class="noto-message">
                    Saved “<a href="page1.html">Omni-onepage app template</a>” to Inspiration
                    <a class="portfolio-link type-2 clearfix" href="page1.html">
                      <img src="../../assets/img/p_link_23.jpg" alt="">
                      <img src="../../assets/img/p_link_31.jpg" alt="">
                      <img src="../../assets/img/p_link_32.jpg" alt="">
                      <img src="../../assets/img/p_link_33.jpg" alt="">
                      <img src="../../assets/img/p_link_34.jpg" alt="">
                      <div class="color_bg">
                        <span>view portfolio</span>
                        <span class="child"></span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="noto-entry">
              <div class="noto-content clearfix">
                <div class="noto-img">
                  <a href="page1.html">
                    <img src="../../assets/img/c7.jpg" alt="" class="be-ava-comment">
                  </a>
                </div>
                <div class="noto-text">
                  <div class="noto-text-top">
                    <span class="noto-name"><a href="page1.html">v-a studio</a></span>
                    <span class="noto-date"><i class="fa fa-clock-o"></i> May 27, 2015</span>
                  </div>
                  <div class="noto-message">
                    <a class="noto-left" href="page1.html">
                      <img src="../../assets/img/n_pop_1.jpg" alt="">
                    </a>
                    Saved “<a href="page1.html">Omni-onepage app template</a>” to Inspiration
                  </div>
                </div>
              </div>
            </div>
            <div class="noto-entry">
              <div class="noto-content clearfix">
                <div class="noto-img">
                  <a href="page1.html">
                    <img src="../../assets/img/c8.jpg" alt="" class="be-ava-comment">
                  </a>
                </div>
                <div class="noto-text">
                  <div class="noto-text-top">
                    <span class="noto-name"><a href="page1.html">Hoang Nguyen</a></span>
                    <span class="noto-date"><i class="fa fa-clock-o"></i> May 27, 2015</span>
                  </div>
                  <div class="noto-message">
                    <a class="noto-left" href="page1.html">
                      <img src="../../assets/img/n_pop_2.jpg" alt="">
                    </a>
                    Awesome, love the big whitespace and also everything between :)
                  </div>
                </div>
              </div>
            </div>
            <div class="noto-entry">
              <div class="noto-content clearfix">
                <div class="noto-img">
                  <a href="page1.html">
                    <img src="../../assets/img/c9.jpg" alt="" class="be-ava-comment">
                  </a>
                </div>
                <div class="noto-text">
                  <div class="noto-text-top">
                    <span class="noto-name"><a href="page1.html">Cüneyt ŞEN</a></span>
                    <span class="noto-date"><i class="fa fa-clock-o"></i> May 27, 2015</span>
                  </div>
                  <a href="page1.html" class="noto-message">
                    Start following your work
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="messages-popup" href="page1.html">
          <i class="fa fa-envelope-o"></i>
          <span class="noto-count">{{messages.length}}</span>
        </a>
        <div class="noto-popup messages-block">
          <div class="m-close"><i class="fa fa-times"></i></div>
          <div class="noto-label">Your Messages <span class="noto-label-links"><a class="send-btn" href="messages-2.html">compose</a><a href="messages.html">View all messages</a></span></div>
          <div class="noto-body" style="max-height: 509px;">
            <div *ngFor="let message of messages" class="noto-entry style-2">
              <div class="noto-content clearfix">
                <div class="noto-img">
                  <a href="page1.html">
                    <img src="../../assets/img/c1.png" alt="" class="be-ava-comment">
                  </a>
                </div>
                <div class="noto-text">
                  <div class="noto-text-top">
                    <span class="noto-name"><a href="page1.html">Ravi Sah</a></span>
                    <span class="noto-date"><i class="fa fa-clock-o"></i> {{message.date | timeAgo}}</span>
                  </div>
                  <div class="noto-message">{{message.msg}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="be-drop-down login-user-down">
          <a routerLink="/profil">
            <img class="login-user" style="width: 40px; height: 40px" [src]="authService.CurrentUser.profil" alt="">
            <span class="be-dropdown-content"> <span>{{authService.CurrentUser.nom}}</span></span>
          </a>
        </div>
      </div>
    </div>
      <div *ngIf="authService.isAuthenticated === false" class="login-header-block ml-5">
        <div class="login_block">
          <a class="btn-login btn color-1 size-2 hover-2" href="#" ><i class="fa fa-user"></i>
            Log in</a>
        </div>
      </div>
    </div>
  </div>
</header>
