 <div class="large-popup-fixed"></div>
  <div class=" large-popup-container container-fluid">
    <div class="row">
      <div class="col-md-12 col-md-push-1 col-lg-8 col-lg-push-2 large-popup-content">
        <div class="row">
          <div class="col-md-12">
            <i class="fa fa-times close-button"></i>
            <h5 class="large-popup-title">Nouvelle entreprise</h5>
          </div>
          <form (submit)="onSubmit()" class="popup-input-search ml-5 row">
            <div class="col-md-6">
              <input class="input-signtype" [ngModelOptions]="{standalone: true}" [(ngModel)]="newUser.nom"  type="text" required placeholder="Nom de l'entreprise">
            </div>
            <div class="col-md-6">
              <input class="input-signtype" [ngModelOptions]="{standalone: true}" [(ngModel)]="newUser.adresse" type="text" required placeholder="Adresse">
            </div>
            <div class="col-md-6">
              <div class="be-custom-select-block">
                <select class="be-custom-select"  [ngModelOptions]="{standalone: true}" [(ngModel)]="newUser.pays">
                  <option value="" disabled selected>Pays</option>
                  <option *ngFor="let c of allCountry" value="{{c.name}}">{{c.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <input class="input-signtype" [(ngModel)]="newUser.email" [ngModelOptions]="{standalone: true}"   type="text" required placeholder="Email">
            </div>
            <div class="col-md-6">
              <input class="input-signtype" [(ngModel)]="newUser.motDePasse" [ngModelOptions]="{standalone: true}"  type="password" required placeholder="Password">
            </div>
            <div class="col-md-6">
              <input class="input-signtype" type="password" [(ngModel)]="password2" [ngModelOptions]="{standalone:true}" required="" placeholder="Repeat Password">
            </div>
            <div class="col-md-6">
              <div class="be-checkbox">
                <label class="check-box">
                  <input class="checkbox-input" [(ngModel)]="isAccepted" [ngModelOptions]="{standalone: true}" type="checkbox" required value="" > <span class="check-box-sign"></span>
                </label>
                <span class="large-popup-text">
									I have read and agree to the <a class="be-popup-terms" href="#">Terms of Use</a> and <a class="be-popup-terms" href="#">Privacy Policy</a>.
								</span>
              </div>
            </div>
            <div class="col-md-6 for-signin">
              <input type="submit" class="be-popup-sign-button" *ngIf="isAccepted == true" value="SIGN IN">
            </div>
            <div class="alert-danger col-md-12 mt-4 text-center pt-2 pb-2" style="border-radius: 5px" *ngIf="error.isError">
              <b>Erreur: </b>{{error.errorMessage}}
            </div>
            <div class="alert-success col-md-12 mt-4 text-center pt-2 pb-2" style="border-radius: 5px" *ngIf="success.isSuccess">
              {{success.successMessage}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
