<div class="be-vidget">
  <h3 class="letf-menu-article">
    Publicités
  </h3>
  <div class="be-post style-2">
    <div class="author-post">
      <img src="assets/img/a1.png" alt="" class="ava-author">
      <span>  <a href="blog-detail-2.html">Hoang Nguyen</a></span>
    </div>
    <a href="blog-detail-2.html" class="be-img-block">
      <img src="assets/img/be_post_2.jpg" alt="omg">
    </a>
    <span>
      Cras pellentesque blandit arcu eget laoreet. Nulla finibus non.
    </span>
  </div>
</div>
