<div style="margin-top: 80px">
  <div class="container">
    <div class="row">
      <div class="col-sm-8"  >
         <div class="row">
          <div class="container">
            <div class="title"><h4> {{offre.nomPoste}}</h4> <div class="block-subtitle mb-2" style="color: #999999"> (Offre {{offre.typeOffre | eNumAsString:typeOffre}} )</div></div>
            <div class="block-subtitle mb-2" style="color: #999999">Deadline: {{offre.deadline | date:'medium'}}</div>
            <div class="block-subtitle mb-2" *ngIf="offre.deadline < currentDate" style="color: #999999">Offre fini depuis {{offre.deadline | timeAgo}}</div>
            <h5 class="title">Description</h5>
            <div style="color: #999999" class="container-fluid">
              {{offre.description}}
            </div>
            <h5 class="title">Détails</h5>
            <div class="container-fluid" style="color: #999999" [innerHTML]="htmlData">
            </div>
          </div>
         </div>
      </div>
      <div  class="col-sm-4" >
        <div class="title text-center">Participants ({{participantArray.length }})</div>
        <div  *ngFor="let candidat of participantArray" class="card mt-2" style="background-color: #1B212C">
          <div class="card-header">
            <div class="offset-5 align-items-center">
              <img  src="/assets/img/login.jpg">
            </div>
            <div class="text-center">
              <a href="#">@{{candidat.username}}</a>
            </div>
          </div>
          <div class="card-body">
            <div class="row text-white-50">Nom: {{candidat.nom.toUpperCase()}}</div>
            <div class="row text-white-50">Post-nom: {{candidat.postnom.toUpperCase()}}</div>
            <div class="row text-white-50">Prénom: {{candidat.prenom.charAt(0).toUpperCase()}}{{candidat.prenom.substring(1)}} </div>
            <div class="row text-white-50">Age: {{diff_years(candidat.naissance)}} Ans</div>
            <div class="row text-white-50">Nationalité: {{candidat.nationalite}}</div>
            <div class="row text-white-50">Adresse: {{candidat.adresse}}</div>
            <div class="row text-white-50">Téléphone: {{candidat.telephone}}</div>
            <div class="row text-white-50">Genre: {{candidat.genre | eNumAsString:typeGender}}</div>
          </div>
          <div class="card-footer text-center">
            <a routerLink="/candidat/{{candidat.id}}" href="#">Voir le profil</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
