<div style="margin-top: 20px;" class="cont2">
<div   id="content-block">
  <div class="head-bg">
    <div class="head-bg-img"></div>
    <div class="head-bg-content">
      <h1>Trouver votre Job idéal ou des candidats compétants</h1>
      <p></p>
      <a class="be-register btn color-1 size-1 hover-1" style="color: aliceblue"><i class="fa fa-lock"></i>sign up now</a>
      <a class="btn-login btn color-1 size-1 hover-1" style="color: aliceblue"><i class="fa fa-user"></i>login now</a>
    </div>
  </div>
</div>
<app-acceuil-details-filters></app-acceuil-details-filters>
</div>
