 <div class="large-popup-fixed"></div>
  <div class=" large-popup-container">
    <div class="row">
      <div class="col-md-12 col-md-push-2 col-lg-12 col-lg-push-3  large-popup-content">
        <div class="row ml-5">
          <div class="col-md-12">
            <i class="fa fa-times close-button"></i>
            <h5 class="large-popup-title">Log in</h5>
          </div>
          <form  class="popup-input-search row ml-5">
            <div class="col-md-6">
              <input class="input-signtype" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email" required="" placeholder="Your email"/>
            </div>
            <div class="col-md-6">
              <input class="input-signtype" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"  type="password" required="" placeholder="Password"/>
            </div>
            <div class="col-md-6">
              <a href="blog-detail-2.html" class="link-large-popup">Forgot password?</a>
            </div>
            <div *ngIf="isLoading">
              <div class="container">
                <div class="spinner">
                  <p class="circle">
			  <span class="ouro">
			    <span class="left"><span class="anim"></span></span>
			    <span class="right"><span class="anim"></span></span>
			  </span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 for-signin">
              <button type="button" (click)="onSubmit()"  class="be-popup-sign-button" >CONNEXION</button>
            </div>
            <div class="alert-danger col-md-12 pt-3 mt-3 pb-3 text-center" *ngIf="isError"><b>{{errorMessage}}</b></div>
          </form>
        </div>
      </div>
    </div>
  </div>
